<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div fxLayout="row" fxLayoutGap="30px">
      <mat-form-field>
        <input matInput type="text" id="name" name="name" placeholder="name" ngModel/>
      </mat-form-field>
      <mat-form-field>
        <input flexFlex="100%" matInput type="text"  id="description" name="description" placeholder="description" ngModel />
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary">{{editMode ? 'Update' : 'Add'}} </button>
      <button mat-raised-button color="warn" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
      <button mat-raised-button type="button" (click)="onClear()">Clear</button>
    </div>
  </form>
</div>
