<div fxLayout="column" fxFlex="75%" fxLayoutGap="20px">
  <form
    fxLayout="column"
    fxFlex="100%"
    [formGroup]="maladieForm"
    (ngSubmit)="onSubmit()"
  >
    <div fxLayout="row" fxLayoutGap="5px">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!maladieForm.valid"
      >
        {{ editMode ? "Update" : "Create" }}
      </button>
      <button mat-raised-button type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
    <br />
    <mat-form-field>
      <input
        matInput
        type="text"
        id="name"
        name="name"
        placeholder="name"
        formControlName="name"
      />
      <mat-error
        *ngIf="
          !maladieForm.get('name').valid && maladieForm.get('name').touched
        "
      >
        Entrer le nom de la maladie svp !
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        type="text"
        name="description"
        placeholder="description"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <div fxLayout="column" fxLayoutGap="20px">
      <div formArrayName="symptomes">
        <mat-label>Symptômes</mat-label>
        <div
          fxLayout="row"
          fxLayoutGap="10px"
          *ngFor="let sympCtrl of symptomesControls; index as i"
          [formGroupName]="i"
        >
          <mat-form-field fxFlex="50%">
            <input
              matInput
              type="text"
              name="name"
              placeholder="name"
              formControlName="name"
            />
            <mat-error
              *ngIf="
                !sympCtrl.get('name').valid &&
                sympCtrl.get('name').touched
              "
            >
              Entrer le nom du symptôme svp !
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50%">
            <input
              matInput
              type="text"
              name="description"
              placeholder="description"
              formControlName="description"
            />
          </mat-form-field>
        </div>
        <div>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="onAddNewSymptome()"
          >
            Ajouter nouveau symptome
          </button>
        </div>
      </div>
      <div formArrayName="medicaments">
        <mat-label>Medicaments</mat-label>
        <div
          fxLayout="row"
          fxLayoutGap="10px"
          *ngFor="let medocCtrl of medicamentsControls; index as i"
          [formGroupName]="i"
        >
          <mat-form-field fxFlex="50%">
            <input
              matInput
              type="text"
              name="name"
              placeholder="name"
              formControlName="name"
            />
            <mat-error
            *ngIf="
              !medocCtrl.get('name').valid &&
              medocCtrl.get('name').touched
            "
          >
            Entrer le nom du médicament svp !
          </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50%">
            <input
              matInput
              type="text"
              name="posologie"
              placeholder="posologie"
              formControlName="posologie"
            />
            <mat-error
              *ngIf="
                !medocCtrl.get('posologie').valid &&
                medocCtrl.get('posologie').touched
              "
            >
              Entrer la posologie du médicament svp !
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="onAddNewMedicament()"
          >
            Ajouter nouveau medicament
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
